*{

Margin:0;

Padding:0;

Border:0;

}

#canvas-container{

  background-color: #1C0A00;
  position: fixed;
  z-index: -1;
  /* width: 100vw; */
  /* height: 100vh; */

}

img{
  width: 350px;
  height: 350px;
}

body{
  
  text-align: center;
  font-family: sans-serif;
  color: #CC9544;
  
}

header{
  position: fixed;
  width: 100%;
  z-index: 10;

}

footer{
  background-color: #1C0A00;
  border-top: #603601 solid 5px;
  height: 98px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}



.nav-container{
  /* background-color: #603601; */
  /* background-color: #be3144; */
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 25px;
  /* padding: 20px 0; */
  height: 65px;
  
}

.hover-mark{
  color: #1C0A00;
  transition: color 0.3s;
}

/* descendant selector */
.image:hover .hover-mark{
  color: #be3144;
}

/* child selector */
.nav-container > li{
  padding: 15px 10px;
  transition: color 0.25s;
}


.nav-container > li:hover{
  animation-name: navli;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  color: white;
}

.show-all{
  font-size: 20px;
  padding: 15px 25px;
  background-color: #1C0A00;
  color: #CC9544;
  transition: background-color 0.3s, color 0.3s;
}

.show-all:hover {
  background-color: #be3144;
  color: white;
}

.arrow{
  position: relative;
  font-size: 25px;
  font-weight: bold;
  top: 2px;
}

.show-all:hover > .arrow {
  animation-name: arrow;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}


.welcome{
  /* padding-top: 80px; */
  /* background-image: linear-gradient(62deg, #181719, #1C0A00); */
  /* background-image: linear-gradient(62deg, #3a3d40, #181719); */
  font-size: 40px;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sub{
  color: #be3144;
  font-weight:lighter;
  font-style: italic;
  font-family: 'Quicksand', sans-serif;
}

.projects{
  background-color: #361500;
  /* background-color: #45567d; */
  font-size: 30px;
  padding: 100px 50px;
}

.project-headline{
  border-bottom: #CC9544 2px solid;
  padding: 0 15px 15px 15px;
  display: inline-block;
}

.project-tile{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 70px;
}

.image{
  background-color: #1C0A00;
  /* background-color: #303841; */
  margin: 50px 25px 0 25px;
  flex: 0 1 auto;
  
}

.image > a, .nav-container a, .social-list a, footer a{
  text-decoration: none;
  color: #CC9544;
}

.nav-container a:hover {
  color: white;
}

.desc{
  padding: 20px 0;
  font-size: 15px;
}

.social{
  background-color: #1C0A00;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-title{
  font-size: 60px;
  margin-bottom: 10px;
}

.social-sub-title{
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
}

.social-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 60px;
  height: 250px;
}

.social-list > li {
  font-size: 20px;
  flex: 0 1 150px;
  position:relative;
  
}

.social-list > li:hover{
  /* buat animasi hover */
  animation: social;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.bi{
  margin-right: 7px;;
}

@media screen and (min-width: 480px) {
  
  img{
    width: 400px;
    height: 400px;
  }
  footer{
    justify-content: flex-end;
    padding-right: 50px;
  }
  /* .project-headline{
    border-bottom: white 2px solid;
  } */

  .desc{
    font-size: 20px;
  }
  .nav-container{
    justify-content: flex-end;

  }
  .nav-container > li{
    margin-right: 35px;

  }
  .social-list{
    align-content: flex-start;
    height: auto;
  }

  .social-list > li {
    font-size: 25px;
    flex-basis: 200px;
  }
}

@keyframes navli {
  from {background-color: #603601;}
  to {background-color: #be3144;}
}

@keyframes arrow {
  from {left: 0;}
  to {left: 3px;}
}

@keyframes social {
  from {top: 0;}
  to {top: 5px;}
}
